body{
    margin: 0;
}

.godnav {
    background-color: aqua;
    position: relative;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.godnav a {
    color: black;
    padding-left: 8px;
    text-decoration: none;
    display: block;
}

.active{
    font-size: 50px;
}

.collapsible{
    background-color: white;
    cursor: pointer;
    font-size: 15px;
    padding: 5px;
    margin: 5px;
    width: 180px;
    border: none;
    text-align: center;
    outline: none;
}

.collapsible:hover{
    background-color: gray;
}

.content{
    display: none;
    overflow: hidden;
    background-color: gray;
    z-index: 1;

}

.combine{
    width: 200px;
}